flows.json
[{"id":"82da52ef.1c53f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7759573f.3db768","type":"subflow","name":"Typing","info":"","category":"in progress","in":[{"x":60,"y":80,"wires":[{"id":"9888817d.de85"},{"id":"5f4fb5c6.6dec2c"}]}],"out":[{"x":702,"y":88,"wires":[{"id":"372aa09b.52953","port":0}]}],"env":[{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN"},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID"},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DDAA99","icon":"node-red-contrib-credentials/credpass.png"},{"id":"ff549742.e58e08","type":"subflow","name":"Customize Bot Name & Avatar","info":" - Drag and drop the node in the palette and link it to the inject node\n  - Customize the name and the avatar using the mxc link (learn how to get the mxc file link here: http://bit.ly/get-mxc-link)\n  - Deploy\n - Click on the inject node\n - You're done\n\n\n![enter image description here](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43081642120/original/3tP-QasxD7e45Ksr1-aQAK5lenHd-frAjw.gif?1572521514)","category":"tekos chatbot","in":[{"x":160,"y":140,"wires":[{"id":"df762f6e.46a5e"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"267d8ee3.fa6322","port":0}]}],"env":[{"name":"NAME","type":"str","value":"","ui":{"icon":"font-awesome/fa-address-card-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"AVATAR","type":"str","value":"","ui":{"icon":"font-awesome/fa-user-circle","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID","ui":{"icon":"font-awesome/fa-commenting-o","type":"input","opts":{"types":["str","env"]},"label":{}}},{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-wrench","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DEB887","icon":"font-awesome/fa-user-circle-o"},{"id":"9888817d.de85","type":"function","z":"7759573f.3db768","name":"typing status","func":"msg.url = 'https://'+env.get('BASE_URL')+'/_matrix/client/r0/rooms/' +msg.roomId+ '/typing/' +env.get('TEKOS_BOT_ID')+ '?access_token=' + env.get('TEKOS_BOT_TOKEN')\n\nmsg.headers ={\n    \"Content-type\": \"application/json\"\n}\n\nmsg.payload={\n  \"typing\": true,\n  \"timeout\": 30000\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":246,"y":88,"wires":[["2521f794.283078","5f4fb5c6.6dec2c"]]},{"id":"2521f794.283078","type":"http request","z":"7759573f.3db768","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":422,"y":88,"wires":[["372aa09b.52953"]]},{"id":"5f4fb5c6.6dec2c","type":"debug","z":"7759573f.3db768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":402,"y":22,"wires":[]},{"id":"372aa09b.52953","type":"delay","z":"7759573f.3db768","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":588,"y":88,"wires":[[]]},{"id":"df762f6e.46a5e","type":"function","z":"ff549742.e58e08","name":"Change name","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/displayname?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"displayname\": env.get('NAME')\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["b8ac14a2.293278","334f1570.2d420a"]]},{"id":"b8ac14a2.293278","type":"http request","z":"ff549742.e58e08","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":140,"wires":[["17c328e1.1a7ea7"]]},{"id":"17c328e1.1a7ea7","type":"function","z":"ff549742.e58e08","name":"change avatar","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/avatar_url?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"avatar_url\": env.get('AVATAR')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["267d8ee3.fa6322"]]},{"id":"267d8ee3.fa6322","type":"http request","z":"ff549742.e58e08","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":140,"wires":[[]]},{"id":"334f1570.2d420a","type":"debug","z":"ff549742.e58e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":200,"wires":[]}]